/* trashbin main ui */
.kk-trashbin-ui{
	min-width:320px; /* controls the minimum width of whole ui */
}

.kk-trahbin-ui svg{
    fill:#aaaaaa;
}

.kk-trahbin-ui button:hover svg {
    fill: #000000; 
}

.kk-trahbin-ui .kk-trahbin-ui-controls svg{
 width:1.2em;
 height:1.2em;	
}

/* trashbin items ui */
.kk-trashbin-row{
	display: flex;	
	width: 95%;
	flex-wrap: wrap;
}

.kk-trashbin-row .kk-trashbin-delete,
.kk-trashbin-row .kk-trashbin-restore {
	flex-grow:0; width:20px;
	margin-left:5px;
}

.kk-trashbin-row .kk-trashbin-link{
	flex-grow:1; 
	width: calc(100% - 50px); 
	padding-right: 10px;
}

.kk-trashbin-row:hover {
	background-color: #f6f6f6;
}